# Python
__pycache__/
*.py[cod]
.venv/
venv/

# IDE
.vscode/
.idea/

# Build
build/
dist/
*.egg-info/

# Logs & TensorBoard
logs/
*.log
runs/
tensorboard/

# Models
checkpoints/
weights/
*.pth
*.pt
*.ckpt
*.onnx

# Hydra
outputs/
multirun/

# Data
data/*
!data/raw/
!data/processed/
!data/split/
!data/raw/list_name.py
!data/split/*.csv
!data/name.txt

data/raw/*
data/processed/*

# Cache
.cache/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Environment
.env

# Hugging Face
.huggingface/
hf_cache/

# OS
.DS_Store
Thumbs.db

# Temporary
*.tmp
*.bak
*.swp
*.swo
tempCodeRunnerFile.py