# Python
__pycache__/
*.py[cod]
.venv/
venv/

# IDE
.vscode/
.idea/

# Build
build/
dist/
*.egg-info/

# Models
checkpoints/
# Hydra
outputs/
multirun/

# Data
data/

# Cache
.cache/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Environment
.env

# Hugging Face
.huggingface/
hf_cache/

# OS
.DS_Store
Thumbs.db

# Temporary
*.tmp
*.bak
*.swp
*.swo
tempCodeRunnerFile.py

# gradio
.gradio/